<div class="caja"><svg  class="graph" aria-labelledby="title" role="img">
  <title id="title">Ventas mensuales</title>
<g class="grid x-grid" id="xGrid">
  <line x1="160" x2="160" y1="50" y2="470"></line>
</g>
<g class="grid y-grid" id="yGrid">
  <line x1="160" x2="900" y1="470" y2="470"></line>
</g>
  <g class="labels x-labels">
  <text x="220" y="520">Enero</text>
  <text x="280" y="520">Febrero</text>
  <text x="340" y="520">Marzo</text>
  <text x="390" y="520">Abril</text>
  <text x="440" y="520">Mayo</text>
  <text x="490" y="520">Junio</text>
  <text x="540" y="520">Julio</text>
  <text x="590" y="520">Agosto</text>
  <text x="660" y="520">Septiembre</text>
  <text x="740" y="520">Octubre</text>
  <text x="810" y="520">Noviembre</text>
  <text x="890" y="520">Diciembre</text>
  <text x="550" y="570" class="label-title">Meses</text>
</g>
<g class="labels y-labels">
  <text x="120" y="50">200 ---</text>
  <text x="120" y="190">150 ---</text>
  <text x="120" y="330">100 ---</text>
  <text x="120" y="470">0 ---</text>
  <text x="50" y="200" class="label-title">Monto</text>
  <text x="50" y="210" class="label-title">de</text>
  <text x="50" y="220" class="label-title">Venta</text>
</g>
<g class="line" id=lines>
  <line x1="200" y1="100" x2="200" y2="200"></line>
</g>
<polyline points="20,20 40,25 60,40 80,120 120,140 200,180"
  style="fill:none;stroke:black;stroke-width:3" />
</svg>
</div>