<div class="caja forms">
    <table>
        <thead>
            <tr>
                <th>Sucursal</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let sucursal of this.sucursalesServicio.listadoSucursales; let i = index">
                <td>{{ sucursal.nombre }}</td>
                <td><button (click)='this.editarSucursal(i)'>Editar</button></td>
                <td><button (click)='this.sucursalesServicio.eliminar(i)'>Eliminar</button></td>
            </tr>
        </tbody>
    </table>
</div>
<div class="caja forms">
<h1>Agregar nueva sucursal</h1>
<form #formSucursal="ngForm" (ngSubmit)="onSubmit(); formSucursal.reset()">
    <div class="contenedor">
        <input type="text" name="nombre" placeholder="Nombre" #nombre="ngModel" [(ngModel)]="sucursalnueva._nombre" required>
        <span class="red" *ngIf="nombre.touched && !nombre.valid">
             El nombre es incorrecto o está vacío.
        </span>        
    </div>
    <div class="contenedor">
        <input type="text" name="ciudad" placeholder="Ciudad" #ciudad="ngModel" [(ngModel)]="sucursalnueva._ciudad" required>
        <span class="red" *ngIf="ciudad.touched && !ciudad.valid">
            La ciudad es incorrecto o está vacío.
        </span>
    </div>
    <div class="contenedor">
        <input type="text" name="tel" #tel="ngModel"placeholder="Teléfono" [(ngModel)]="sucursalnueva._telefono" required pattern="[0-9()-]+">
        <span class="red" *ngIf="tel.touched && !tel.valid">
            El teléfono es incorrecto o está vacío.
        </span>
    </div>
    <div  class="contenedor" *ngFor="let mes of this.sucursalesServicio.Meses; let i = index" >
        <input type="text" name="ventas" #ventas="ngModel"placeholder="Ventas {{mes.nombre}}" [(ngModel)]="sucursalnueva._ventaspormes[i]" required pattern="[0-9()-]+">
        <span class="red" *ngIf="ventas.touched && !ventas.valid">
            El valor es incorrecto o está vacío.
        </span>
    </div>
    <input type="submit" value="Crear" [disabled]="!formSucursal.form.valid">
</form>
</div>
