input[type=text], select {
    width:75%;
    padding: 1px;
    border: 1px solid #ccc;
    border-radius: 280px;
    text-indent: 2px;
    
    
  }
  
  input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    margin: 5px;
    border-radius: 280px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  .contenedor {
    margin: 2px;
    border-radius: 280px;
    background-color: #303030;
    padding: 6px;
    width: 100%;
  }

.red {
    color: red;
    font-size: 11px;    
}
.caja {
    width: 20%;
    margin:40px auto;
    box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
    box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
    background-color: #424242;
    padding: 20px;
    
  }
.forms{
  width: 60%;
}