/* Style the header with a grey background and some padding */
.header {
  background-color: #e91e63;
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}
 

/* Style the header links */
.header a {
  color: rgb(255, 255, 255);
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

/* Change the background color on mouse-over */
.header-right a:hover {
  background-color: #FF3B7C;
  color: black;
}

/* Style the active/current link*/
.header-right a.active {
  background-color: #9C0A3B;
  color: white;
}

.body{
    position: absolute;
    top: 56px;
    bottom: 0;
    left: 0;
    right: 0;
    
}
.nav{
  display: flex;
    align-items: center;
    padding: 8px 16px;  
}

.icon{
  height: 26px;
    margin: 0 4px 3px 0;
    vertical-align: middle;
}

.boton{
  box-sizing: border-box;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  outline: none;
  border: none;
  -webkit-tap-highlight-color: transparent;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;
  margin: 0;
  min-width: 64px;
  line-height: 36px;
  padding: 0 16px;
  border-radius: 4px;
  overflow: visible;
}
.flex-spacer{
  flex-grow: 1;
}