

<div class="header">
  <div class="nav">
    <div class ="boton">
      <img class="icon"
      alt="Angular Logo"
      src="../../../assets/img//angular-white-transparent.svg"/>
      <span>TP 1</span>
    </div>
    <div class="flex-spacer">
    </div>
    <div class="header-right">
      <a class="boton" routerLink="/lista-sucursales" routerLinkActive="active">Lista de Sucursales</a>
      <a class="boton" routerLink="/grafico-ventas" routerLinkActive="active">Gráfico de Ventas</a>
      <a class="boton" routerLink="/abm-sucursales" routerLinkActive="active">ABM Sucursales</a>
    </div>
  </div>
  
 
<div class="body">
  <router-outlet></router-outlet>
  <footer><app-footer></app-footer></footer>
</div>

</div>